{% extends "blog/base.html" %}
{{ value|linebreaks }}
{%  block content %}



     {% for post in posts %}

     <div class="rower" style="background-color: white;border-style:hidden">
         <div class="row">
             <div class="col-md-2">
                 <img style="width:70px;height:71px;margin-left: 12px;margin-top:5px" class="rounded-circle account-img" src="{{ post.author.profile.image.url }}" alt=""/>
                  </div>
                    <div class="col-md-10">
                       <div class="row">
                         <div class="col-md-3" style="Color:dodgerblue;font-size: x-large ;margin-left: 14px;margin-top:-5px" >
                             <a href="{% url 'user-post' post.author.username %}"> {{ post.author }}</a>

                         </div>
                     <div class="col-md-6" style="margin-top: 8px;color:brown"> <p> {{post.date_posted|date:"F d,Y"}}</p>
                  </div>
               </div>
            <hr style="margin-top: -12px"/>
          <h3 style="margin-left: 12px;margin-top: -12px;font-weight: bold"><a  style="text-decoration: none;color:black" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h3>
       <p style="margin-left: 14px;color:black;margin-top: -3px;">{{ post.content }}</p><br/>
     </div>
 </div>

         </div>
         <br/>






     {% endfor %}








    <!-- home page in show 12344 and more -->
    {% if  is_paginated %}
        {% if page_obj.has_previous %}
            <a  class="btn btn-outline-info mb-4" href="?page1">First</a>
            <a  class="btn btn-outline-info mb-4" href="?page={{page.obj.previous_page_number}}">Previous</a>
        {% endif %}

        {% for num in  page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                    <a  class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3'%}
                    <a  class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>

            {% endif %}
        {% endfor %}

         {% if page_obj.has_next %}
            <a  class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
            <a  class="btn btn-outline-info mb-4" href="?page={{page.obj.paginator.num_page}}">Last</a>
        {% endif %}

    {% endif %}


{% endblock content %}


