{% extends "blog/base.html" %}
{%  block content %}

     <div class="rower" style="background-color: white">
         <div class="row">
             <div class="col-md-2">
                 <img style="width:70px;height:71px;margin-left: 12px" class="rounded-circle account-img" src="{{ object.author.profile.image.url }}" alt=""/>
                  </div>
                    <div class="col-md-10">
                       <div class="row">
                         <div class="col-md-3" style="Color:dodgerblue;font-size: x-large ;margin-left: 14px;margin-top:-5px" >
                             <a href="{% url 'user-post' object.author.username %}">
                             {{ object.author }}</a>

                         </div>
                     <div class="col-md-6" style="margin-top: 8px;color:brown"> <p> {{object.date_posted|date:"F d,Y"}}</p>

                         {% if object.author == user %}
                             <div class="deleteer" style="margin-left: -190px;margin-top: -14px">
                                 <a href="{% url 'post-create' object.id %}" class="btn btn-secondary btn-sm mt-1 mb-1 ">Update</a>
                                 <a href="{% url 'post-delete' object.id %}" class="btn btn-danger btn-sm mt-1 mb-1 ">Delete</a>
                             </div>
                             <br/>

                         {% endif %}
                  </div>
               </div>
            <hr style="margin-top: -12px"/>
          <h3 style="margin-left: 12px;margin-top: -12px;font-weight: bold">{{ object.title }}</h3>
       <p style="margin-left: 14px;color:black;margin-top: -3px;">{{ object.content }}</p><br/>
     </div>
 </div>





         </div>
         <br/>







{% endblock content %}


